/* firstpage */
.frist-section-contain {
  display: flex;
  flex-direction: row;
  gap: 30%;
}

.frist-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
}

.frist-section li {
  list-style: none;
}

.frist-section-contain a {
  text-decoration: none;
}

.search {
  padding-right: 170px;
}

.item img {
  height: 300px;
  width: 300px;
  margin-top: 100px;
  border-radius: 200px;
}

.listitems ul img {
  width: 150px;
  height: 150px;
  border-radius: 200px;
}

#icons img {
  width: 50px;
  height: 20px;
}

#logo {
  gap: 20px;
  display: flex;
  flex-direction: row;
  top: 0%;
}

#logo img {
  width: 50px;
  height: 40px;
}

/* catagory */
.category1 {
  display: flex;
  gap: 90px;
  width: 10%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  border-radius: 30px;
  background-color: rgb(235, 239, 221);
  height: 40px;
  font-weight: bold;
  font-size: larger;
}

.category1 a {
  display: flex;
  text-decoration: none;
  color: black;
}

.category-container {
  display: flex;
  justify-content: center;
}

/* kids */
.item {
  display: flex;
  justify-content: space-around;
}

.listitems h1 {
  font-weight: 100;
  font-size: large;
}

.main-list {
  border-radius: 30px;
  background-color: rgb(191, 200, 201);
  width: 180px;
  height: 40px;
}

.main-list a {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  text-decoration: none;
  margin-left: 30px;
  margin-top: 2px;
}

.kid {
  display: flex;
}

.kidlist {
  margin-top: 100px;
}
