.cointainer {
  display: flex;
  flex-direction: row;
  height: 60vh;
  width: 100%;
  margin-left: 17%;
  margin-top: 6%;
}

.blue {
  color: black;
  background-image: url(./image/5.jpg);
  text-align: center;
  width: 25%;
}

.white {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  background-image: url(./image/5.jpg);
}

.the-button {
  background-color: rgba(216, 219, 18, 0.763);
  text-align: center;
  border-radius: 20px;
  width: 20%;
  height: 30px;
}

.the-buttons {
  background-color: rgba(216, 219, 18, 0.763);
  text-align: center;
  border-radius: 10px;
  width: 60%;
  height: 20%;
}

.forms {
  display: flex;
  flex-direction: row;
}

.text-input {
  height: 30px;
  margin-bottom: 5px;
  background-color: blanchedalmond;
  border-radius: 60px;
}

body {
  background-image: url("./image/4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#transform {
  text-transform: lowercase;
}

@media (max-width: 768px) {
  /* Reset some default styles */
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 16px;
    font-family: Arial, sans-serif;
  }

  .cointainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 115vh;
  }

  .blue,
  .white {
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }

  .blue {
    background-color: rgba(216, 219, 18, 0.763);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    margin-bottom: 15%;
  }

  .blue h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .blue p {
    font-size: 1rem;
    margin-bottom: 15%;
  }

  .the-buttons {
    background-color: rgba(216, 219, 18, 0.763);
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;
  }

  .forms {
    display: flex;
    flex-direction: column;
  }

  .text-input {
    width: 100%;
    padding: 0;
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }

  .the-button {
    width: 100%;
    background-color: rgba(216, 219, 18, 0.763);
    color: white;
    border: none;
    padding: 0;
    font-size: 0.9rem;
    cursor: pointer;
  }
}
