@media (min-width: 768px) {
  .logo {
    display: none;
  }
}

.frist-section-contain {
  display: flex;
  flex-direction: row;
  gap: 30%;
}

.frist-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
}

.frist-section li {
  list-style: none;
}

.frist-section-contain a {
  text-decoration: none;
}

.search {
  padding-right: 170px;
}

.img img {
  width: 65%;
  height: 200px;
}

.small-col img {
  width: 90%;
  height: auto;
  cursor: pointer;
}

.small-col1 img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#icons img {
  width: 50px;
  height: 20px;
}

#logo {
  gap: 20px;
  display: flex;
  flex-direction: row;
  top: 0%;
}

#logo img {
  width: 50px;
  height: 40px;
}

/* catagory */
.category1 {
  display: flex;
  gap: 90px;
  width: 10%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  border-radius: 30px;
  background-color: rgb(235, 239, 221);
  height: 40px;
  font-weight: bold;
  font-size: larger;
}

.category1 a {
  display: flex;
  text-decoration: none;
  color: black;
}

.category-container {
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 15%;
}

/* class for .productMarigin */
.productMarigin {
  border: 2px silver solid;
}

.small-row {
  display: flex;
  justify-content: flex-start;
  background-color: bisque;
}

.main {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
}

.description {
  width: 20%;
}

.description h1,
.description p {
  margin: 10px 0;
}

.description input {
  width: 10%;
  height: 20%;
  font-weight: 20;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
}

.Women {
  gap: 90px;
}

.Women ul li {
  text-decoration: none;
  list-style: none;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
}

.Women h1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
}

.Women a {
  text-decoration: none;
}

.view {
  display: flex;
}

.tab {
  width: 80px;
  color: #000;
  background-color: #f9f6f6;
  border-radius: 5px;
  margin-bottom: 5px;
}

#icon-change {
  color: blue;
}

#Women-select {
  background-color: rgb(0, 136, 255);
}

#Men-select {
  background-color: rgb(0, 136, 255);
}

.Mens a {
  text-decoration: none;
  list-style: none;
}

.Mens ul {
  text-decoration: none;
  list-style: none;
}

/* catagory */
.category2 {
  display: flex;
  gap: 90px;
  width: 10%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  border-radius: 30px;
  background-color: rgb(235, 239, 221);
  height: 40px;
  font-weight: bold;
  font-size: larger;
}

.category2 a {
  display: flex;
  text-decoration: none;
  color: black;
}

@media (max-width: 767px) {
  .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    padding-left: 0;
    margin-bottom: 25%;
    margin-top: 10%;
  }

  .description input {
    flex-direction: column;
    width: auto;
    height: 20%;
    font-weight: 20;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .navigations {
    display: none;
  }

  .main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    padding-left: 0;
  }

  .view {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    padding-left: 15px;
  }

  .category2 {
    display: none;
  }

  .category1 {
    width: 20%;
  }

  .category-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    flex-direction: row;
  }

  .product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    padding-left: 0;
  }

  /* class for .productMarigin */
  .productMarigin {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    width: auto;
    border: 2px silver solid;
  }

  .small-row {
    display: flex;
    justify-content: flex-start;
    background-color: bisque;
    height: auto;
    width: 150px;
  }

  /* base styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

  a {
    color: white;
  }

  a:visited {
    color: white;
  }

  a:hover {
    color: #6f86ff;
  }

  body {
    font-family: sans-serif;
  }

  /* off-screen-menu */
  .off-screen-menu {
    background-color: rgb(0, 136, 255);
    height: 100%;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: 0.3s ease;
  }

  .off-screen-menu.active {
    right: 0;
  }

  /* nav */
  nav {
    padding: 1rem;
    padding-left: 35%;
    display: flex;
    justify-content: flex-end;
  }

  /* ham menu */
  .ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    display: flex;
    justify-content: end;
  }

  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #6f86ff;
    border-radius: 25px;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
  }

  .ham-menu span:nth-child(1) {
    top: 25%;
  }

  .ham-menu span:nth-child(3) {
    top: 75%;
  }

  .ham-menu.active span {
    background-color: white;
  }

  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
